<?xml version="1.0"?>

<!-- The ros2 control library requires a ros2_control tag in order to set up the robot hardware components -->
<!-- and to define their interfaces -->
<robot name="rona" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- The hardware we want to represent is a whole robot -> A system. So, that will be the type assigned to the tag -->
    <ros2_control type="system" name="RobotSystem">
        <!-- This indicates the type of the hardware that makes the system and that will be connected to the ros2 control library -->
        <hardware>
            <!-- For now, only simulated hardware is used -->
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <!-- The interfaces for each movable joint are now defined -->
        <joint name="front_right_wheel_joint" >
            <!-- The command interface is used to "write" to the resource, to send commands -->
            <command_interface name="velocity">
                <!-- Insithe the command interface tag, the max and min speeds are set -->
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <!-- The state interfaces are used for reading the currente status of the hardware -->
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="rear_right_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        
        <joint name="rear_left_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="front_left_wheel_joint" >
            <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

    </ros2_control>

</robot>